body {
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  text-align: center;
}

form {
  text-align: center;
  padding: 20px;
}

form label {
  text-transform: uppercase;
  font-weight: bold;
}

table {
  width: 100%;
}

table,
th,
td {
  border: solid 1px black;
}

th {
  padding: 10px;
}

.poster {
  text-align: center;
}

#data {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dataElement {
  padding: 5px;
  border: solid 5px black;
  width: 20%;
  text-align: center;
  margin-top: 5%;
}

#videoDiv {
  margin: auto;
  /* display: flex; */
  border: solid 1px black;
}

#video {
  width: 50%;
  display: block;
}
